// Theme
$pink: #f06bf2;
$indigo: #532473;
$purple: #7630d9;
$blue: #04588c;
$turqoise: #79f2e6;

// Neutrals
$white: #fff;
$lightgray: #dadada;
$darkgray: #777777;
$black: #000;

$primary: $purple;

$radius: 4px;
