@import '_variables';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

sup {
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

.app {
    background-color: $purple;
}
